;; Copyright © 2016, JUXT LTD.

;; Aero configuration for Edge

{:web-server
 #profile {:dev {:host "localhost:3000"
                 :port 3000}
           :prod {:host "wiki.thegeez.net"
                  :port  80}}

 :selmer
 {:template-caching?
  #profile {:dev false
            :test false
            :pre-prod true
            :prod true}}

 :datomic
 #profile {:dev
           {:args-map
            {:db-name "wiki"
             :access-key "wiki"
             :secret "wiki"
             :endpoint "localhost:8998"}
            :fixtures true
            :migrations true}
           :prod
           {:args-map
            {:db-name "wiki"
             :access-key "wiki"
             :secret "wiki"
             :endpoint "localhost:8998"}
            :fixtures true
            :migrations true}}

 :fs2
 #profile {:dev
           {:host "localhost"
            :port 4444
            :private-path "/tmp/fs2-storage"}
           :prod
           {:host "localhost"
            :port 5555
            :private-path "/home/ubuntu/fs2-storage"}}}
